[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
streamlit = "*"
openpyxl = "*"
geopandas="0.10.2"
fiona="*"

[dev-packages]

[requires]
python_version = "3.7.12"